body{
	margin: 0;
}
/*header start*/
header{
	background-color: red;
}
.container{
	padding: 20px;
	overflow: hidden;
	width: 90%;
	background-color: red;
	margin: 0px auto;
}
.logo{
	float: left;
	width: 10%;
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
}
.menu a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 10px 5px;
	padding: 0px 10px;
}
/*header end */
/*banner start*/
.banner{}
.row{
	width: 60%;
	margin: 0px auto;
}
.row h2{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: black;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 0;
}
.row h3{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: red;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-top: 20px;
}
.row p{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-align: center;
}
.b_img{
	width: 40%;
	margin: 0px auto;
}
.b_img img{
	width: 100%;
}
/*banner end*/
/*succes start*/
.success{
	padding-top: 40px;
	overflow: hidden;
	width: 90%;
	margin: 0px auto;
}
.left{
	width: 48%;
	float: left;
}
.left h3{
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: red;
	margin: 0;
	text-align: right;
}
.left p{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-align: right;
}
.right{
	margin-left: 0px;
	width: 48%;
	float: right;
}
.right h2{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: rgb(128, 0, 126);
}
/*succes end*/
/*card start*/
.card{
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
}
.card1{
	margin: 0px 10px;
	float: left;
	width: 28%;
	background-color: #ffb2b2;
	padding: 20px;
}
.card2{
	background-color:#FFC1D6;
}
.card1 img{
	width: 100%;
}
.card1 h2{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: rgb(153, 0, 0);
}
.card1 p{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: black;
}
/*card end*/
/*footer start*/
footer{
	margin: 30px 0px;
}
footer h1{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: black;
	text-align: center;
}
footer h1 span{
	color: red;
}
/*footer end*/